[submodule "python/handson-ml-master"]
	path = python/handson-ml-master
	url = /home/hadoop/Code/ds_code/python/handson-ml-master
[submodule "handson-ml-master"]
	path = handson-ml-master
	url = /home/hadoop/Code/ds_code/handson-ml-master
